/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  background-color: var(--accent-color);
}

/* search */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background_search_desktop.jpg");
  background-size: cover;
  height: 25rem;
  margin-bottom: 50px;
}
.search ul {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 25px;
}
.search li {
  padding: 0 2.5rem 0.5rem 2.5rem;
  font-weight: 600;
  font-size: 0.825rem;
  line-height: 1.13;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
.search li.active {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.search form input {
  margin-bottom: 30px;
}
.search input {
  width: 350px;
  padding: 0.25rem 0.5rem;
  margin-right: 20px;
}
.search button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* business list */
article {
  box-shadow: 0 0 10px #cccccc;
  border-radius: 10px;
}

figcaption {
  padding: 0 15px 10px 15px;
}

.businesses {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 4rem;
}

.businesslist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  gap: 30px;
}

h2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 0;
}

.img-container img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.business-category {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: right;
  background-color: var(--accent-color);
  color: #ffffff;
  margin-right: auto;
  margin-bottom: 10px;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 5px;
}

.business-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-review {
  text-align: right;
}
.business-review p:first-child {
  color: var(--accent-color);
  font-weight: 700;
}

/* media queries */
@media (max-width: 850px) {
  .search {
    background-image: url("./assets/background_search_mobile.jpg");
  }
  .search input {
    width: 100%;
    margin: 0 auto;
  }
  .businesslist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  article {
    margin-bottom: 40px;
  }

  .businesslist {
    display: block;
  }
}
