:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --accent-color: #cda44c;
}

/* Box sizing rule ; Remove default margin & paddings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  font-family: inherit;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Remove style / text decoration */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
